* {
	box-sizing: border-box;
}
body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color:lightgreen;
	min-height: 100vh;
	font-family: "Trebuchet MS";

	

}
h1 {
	text-align: center;
	font-size: 55px;
	font-weight: 900;
	margin-bottom: 30px;
}
.container {
	margin: 0 auto;
	width: 1024px;
}

.card {
	padding: 15px;
	border: 2px solid white;
	border-radius: 1px;
}
.auth-panel {
	margin: 0 auto;
	max-width: 550px;
} 